<%- include("header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/index.css"/>
</head>
<body>
   
    <%if(locals.date){%>
    <%let i=0;%>
    <% for (i=0;i<date.length;i++){%>
        <div class="viewpage">
    <p class="date"><%=date[i] %></p>
    <h1 class="comment"><%= comment[i] %></h1>
    <div class="form">
     <form action="/view" method="post" class="form1" >
        <button name="name" value="<%= i %>" type="submit" class="button1"><p class="index"><%= i %></p><p class="delete">Delete</p></button>
    </form>
    <form action="/create" method="post" class="form2">
       
        <button name="name1" value="<%= i %>" type="submit" class="button2"><p class="index"><%= i %></p><p class="edit">Edit</p></button>
       
    </form>
   
</div>
</div>
<hr>
    <%}%>
    <%}else{%>
        <div class="nopost"><p>No Post Yet</p></div>
    <% }%>



    

</body>
</html>
